# Ignore build output directory
/osw_software/_ide
/osw_software/build/
/osw_software/src/.cache

# Ignore platform directory
/platform



# Ignore object files and dependent files
.o
.d

#Ignore logs folder and log files
/logs
.log

#Ignore lock files
.lock

*.bin
*.bif
*.pdi
*.peers.ini
*.repo.yaml
*.vitisWorkspace.json
compile_commands.json

